html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.rotate {
  animation: rotation 2s;
}
@keyframes rotation {
  from  {
    transform: rotate(0deg);
  }
  to  {
    transform: rotate(359deg);
  }
}

.linear {
  animation-timing-function: linear;
}

.inifinte {
  animation-iteration-count: infinite;
}

img{
  width: 300px;
  animation:rotation 6s infinite linear;
  filter: blur(5px);
}

img:hover{
  filter: blur(5px);
  transition: filter 0.5s;
}
@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to  {
    transform: rotate(360deg);
  }
}
